@font-face {
    font-family: 'Lora Bold';
    src: url('../fonts/lora-bold-webfont.woff2') format('woff2'),
         url('../fonts/lora-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body {
    background-color: #fff;
	color: #24222D;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1.25em;
	line-height: 1.25em;
	margin: 0;
}
body strong {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
	font-weight: 600;
}
#header-main {
	overflow: hidden;
}
#main {
	padding-top: 15px;
	line-height: 1.5em;
}
/* Navigation and Logo */

#logo {
	float: left;
	position: relative;
	z-index: 2;
	width: 140px;
	margin: 12px 0;
}
#logo img {
	width: 100%;
	height: auto;
	display: block;
}

#nav-main {
	margin-top: 25px;
	float: right;
}
#nav-main ul {
	list-style-type: none;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}
#nav-main ul li {
	display: block;
}
#nav-main a {
	padding: 12px 12px 10px 12px;
	margin-left: 12px;
	display: block;
	color: #000;
	font-size: 1em;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
#nav-main a.current {
	border-bottom: 2px solid #f07529;
}

#nav-main a:hover {
	background-color: #f07529;
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, .7);
	border-bottom: 2px solid #201e20;
}
#nav-main a:active {
	background-color: #ffa604;
}
/* Header Styles */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lora Bold', Garamond, serif;
	color: #f07529;
}
.subtitle {
	display: block;
	font-size: .6em;
	font-style: italic;
}
/* Hero Box */
#hero-container {
	background-image: linear-gradient(#161318, #010204);
	position: relative;
	z-index:1;
}
#hero-box {
	color: #eee;
	padding: 100px 0;
	line-height: 2.15em;
}
#hero-box h1 {
	font-size: 2.5em;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}
#hero-box h1.name::before {
	display: block;
	content: "Hi, my name is";
	font-size: .5em;
	font-weight: 400;
}
#hero-box h1::after {
	display: block;
	width: 100%;
	max-width: 420px;
	height: 2px;
	background-color: #f07529;
	margin-top: .5em;
	content: "";
}
#hero-box h1.about::after {
	max-width: 175px;
}
#hero-box h1.contact::after {
	max-width: 370px;
}
.contact-button {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border-radius: 12px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .7), -1px -1px 0 rgba(255, 255, 255, .5);
	display: block;
	width: 220px;
	padding: 24px;
	margin: 24px auto;
	font-size: 1.55em;
    background: linear-gradient(to right, #f07529 50%, #fff 50%);
    background-size: 200% 100%;
    background-position:left bottom;
}
.contact-button:hover {
	background-position:right bottom;
	color: #e88816;
}
/* Content Area */
.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 15px;
}
section {
	padding-bottom: 24px;
}
.first-area {
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	padding: 35px 0;
}
.second-area {
	background-image: linear-gradient(#fafafa, #fff);
	padding: 35px 0;
}
.third-area {
	background-color: #352F37;
	padding: 35px;
	color: #fff;
}
.third-area h2, .third-area h3 {
	color: #fff;
}
/* Footer */
#footer {
	padding: 36px 0;
	background-color: #161318;
	color: #fff;
	font-size: .83em;
	font-family: Arial, Helvetica, sans-serif;
}
#footer a {
	color: #fff;
}
#footer a:hover {
        text-decoration: underline;
	color: #f07529;
}
#footer .container {
	display: flex;
}
#footer .container div {
	flex-basis: 50%;
}
#footer .container div:last-child {
	text-align: right;
}
#footer .container div a:first-child {
	margin-right: 24px;
}
/* In content styles*/

.float-right {
	float: right;
	margin: 0 0 20px 20px;
}
.float-left {
	float: left;
	margin: 0 20px 20px 0;
}
figcaption {
	font-size: .83em;
	font-style: italic;
	max-width: 200px;
}
.udemy {
	list-style-type: none;
}
.udemy li {
	margin-top: 20px;
	background: url(../images/udemy.png) no-repeat;
	line-height: 36px;
	height: 36px;
	padding-left: 45px;
}
.udemy li a {
	display: block;
	color: #f07529;
}
.udemy li a:hover {
	color: #161318;
}
/* Form */
#contact {
	max-width: 560px;
	width: 100%;
	margin: 1em auto;
}
#contact div {
	padding-top: 7px;
}
#contact div label {
	display: block;
	margin-bottom: 7px;
}
#contact input[type=text], #contact input[type=email], #contact textarea {
	padding: 10px;
	width: calc(100% - 22px);
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 6px;
}
textarea {
	width: 100%;
	height: 60px;
}
#contact input[type=text]:focus, #contact input[type=email]:focus, #contact textarea:focus {
	outline: none !important;
	border: 1px solid #f07529;
	box-shadow: 0 0 10px #f07529;
}
#contact fieldset {
	border-color: #e88816;
	border-style: solid;
	margin: 12px 0;
}
#contact fieldset legend {
	padding-right: 12px;
	padding-left: 12px;
	margin-bottom: 12px;
}
#contact fieldset legend:after {
	content: "";
	width: 190px;
	position: relative;
	display: block;
	margin-top: 5px;
	height: 2px;
	background-color: #e88816;
}
#contact fieldset label {
	display: inline-block;
}
#contact fieldset span {
	display: block;
}
select#reference {
	font-size: 16px;
	padding: 8px;
}
input[type="submit"] {
	display: inline-block;
	padding: 12px 24px;
	font-weight: bold;
	font-size: 18px;
	border-radius: 6px;
	text-transform: uppercase;
	border: 1px solid #fff;
    background: linear-gradient(to right, #e88816 50%, #24222D 50%);
    background-size: 200% 100%;
	letter-spacing: .1em;
    background-position:left bottom;
}
input[type="submit"]:hover {
	background-position:right bottom;
	color: #fff;
	cursor: pointer;
}

/* Tables */
#college {
	border-collapse: collapse;
	padding: 12px;
	border: 1px solid #000;
}
#college thead {
	background-color: #201e20;
	color: #fff;
}
#college thead tr th {
	padding: 5px 30px 5px 10px;
}
#college td {
	padding: 5px 30px 5px 10px;
	border-top: 1px solid rgba(0,0,0,.5);
}
#college tbody tr:nth-child(even) {
	background-color: #fff;
}
#college tbody tr:nth-child(even) {
	background-color: #d0d0d0;
}
#college tfoot {
	text-align: right;
	background-color: #201e20;
	color: #fff;
}
#college tfoot td {
	padding: 12px 10px;
}
/* Work Experience */
.work-container {
	display: flex;
}
.work-container > div {
	flex-basis: calc(50% - 24px);
	margin-left: 48px;
	padding: 24px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid rgba(125, 125, 125, .1);
	box-shadow: 2px 1px 5px rgba(125, 125, 125, .2);
}
.work-container div:first-child {
	margin-left: 0;
}
.work-container h3 {
	text-align: center;
}
.work-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.work-container li {
	margin-top: 24px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding-bottom: 24px;
}
.work-container li:last-child {
	border-bottom-style: none;
}
/* Skills Section */
.skills {
	width: 900px;
	margin: 60px auto;
	color: white;
}
.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.skills li {
	flex-basis: 46%;
	margin: 20px 2%;
}
.bar {
	background: #252026;
	display: block;
	height: 2px;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #f07529;
}
.bar span {
	height: 2px;
	float: left;
	background: #f07529;
}
.html {
	width: 90%;
}
.css {
	width: 80%;
}
.php {
	width: 60%;
}
.csharp {
	width: 50%;
}
.javascript {
	width: 40%;
}
.jquery {
	width: 30%;
}
.java {
	width: 40%;
}
.unity {
	width: 40%;
}
.photoshop {
	width: 40%;
}
.python {
	width: 20%;
}
