/* Header Styles */

/* Mobile */


/* Hero */

.hero {
	padding: 100px;
	background-color: #333;
	color: #fff;
}


/* Main */



.wedding-dresses > div, .tuxedos-suits > div {
	background-image: linear-gradient(rgba(48, 34, 24, .1), rgba(0, 0, 0, .3));
	padding: 50px 15px;
}
.wedding-dresses  {
	background: url('../images/pexels-olya-kobruseva-5429206.jpg');
	background-size: contain;

}
.tuxedos-suits {
	text-align: right;
	background: url('../images/pexels-david-guerrero-10123124.jpg');
	background-size: contain;
}
.tuxedos-suits > div {

}

/* Footer */

footer {
	background-color: #302C21;
	color: #fff;
	font-size: .9rem;
}
#main-footer-bottom {
	background: rgba(0, 0, 0, .2);
}


/* Tablet Styling */


/* Desktop Styling */