/*----------------------------------------------------------------------------------------------------------------
--
#Original Author: Brandon Swan
#Date Created: 11/30/2022
#Current Version: 0.1
#Date Last Modified: 11/30/2022
#Modified by: Brandon Swan
#Modification log:

    Version 0.1 - 11/30/2022 - Created File and began basic layout

 --
------------------------------------------------------------------------------------------------------------------> */
/* Fonts */
body {
	font-family: 'Fira Sans Condensed', arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	line-height: 2rem;
	background-color: #23112b;
}
h1, h2, h3, h4, h5, h6, fs-1, fs-2, fs-3, fs-4, fs-5, fs-6 {
	font-family: 'Eczar', 'Times New Roman', serif;
	font-weight: 600;
}

/* Nav Main */
.nav-custom {
	background-color: #5F2D75;
	background-size: 300% 300%;
	background-image: linear-gradient(
		-45deg, 
		rgba(59,173,227,1) 0%, 
		rgba(87,111,230,1) 25%, 
		rgba(152,68,183,1) 51%, 
		rgba(255,53,127,1) 100%
	);  
	animation: AnimateBG 20s ease infinite;
}

.navbar-burger {
	background: rgba(0, 0, 0, .3);
	color: #fff;
}
.navbar-burger span {
	color: rgba(255, 255, 255, .7);
}
.navbar-item {
	color: #5F2D75;
}
.navbar-end a {
	display: block;
}
/* Heros */

#hero-main {
	background: url('../images/square-background-g6163b778f_1280-transparent.png') center center, radial-gradient(#784BA0, #3d284e);
	background-size: cover;
}
#hero-main .lead:before {
	display: block;
	width: 100px;
	height: 2px;
	background-color: #ccc;
	content: "";
}
#hero-main .lead:after {
	width: 100px;
	height: 2px;
	background-color: #ccc;
	content: "";
	float: right;
}

/* Recent Projects */

.projects {
	background-color: #5F2D75;
}
.projects h2:after {
	display: block;
	width: 45.5%;
	height: 3px;
	content: '';
	background-color: #fff;
	margin: 0 auto;
	margin-top: .75rem;
	margin-bottom: 1rem;
	transform: skewX(-45deg);

}
.projects a {
	text-transform: uppercase;
	font-weight: 600;
	transition: all .3s ease-in;
}
.projects a:hover {
	background-color: #5F2D75;
	color: #fff;
}
.projects .box {
	background-color: rgba(255, 255, 255, .95);
    border-radius: 4px;
    box-shadow: 0 0.5em .5em -0.225em rgb(10 10 10 / 80%), 0 0 0 1px rgb(10 10 10 / 90%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}
/* Skill Set */

.skill-section, .contact-area {
	background-color: #f5f5f5;
}
/* Content Areas */

.main-content {
	background-color: #fefefe;
}

/* Footer */
.footer {
	background-color: #23112b;
	color: #fff;
}
.footer-navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footer-navigation a {
	color: #fff;
	display:inline-block;
	padding: 7px 15px;
	margin: 5px;
	border: 1px solid #fff;
	transition: all .3s ease-in;
}
.footer-navigation a:hover {
	background-color: #fafafa;
	color: #23112b;
	border-color: #fafafa;
}
/* Animations */

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


/* Dark Mode */
body.dark {
	background-color: #543561;
	color: rgba(255, 255, 255, .85);
}
body.dark .main-content, body.dark .skill-section {
	background-color: #232b2b;
	color: rgba(255, 255, 255, .85);
}
/* 
A68EC9
A76AA1
BFBED7
C497C7
*/
body.dark .nav-custom {
	background-color: #411f50;
	background-size: 300% 300%;
	background-image: linear-gradient(
		-45deg, 
		rgba(166,142,201) 0%, 
		rgba(167,106,161) 25%, 
		rgba(160,158,196) 51%, 
		rgba(196,151,199) 100%
	);  
	animation: AnimateBG 20s ease infinite;
}
body.dark #hero-main {
	background: url('../images/square-background-g6163b778f_1280-transparent.png') center center, radial-gradient(#3e2652, #321e42);
	background-size: cover;
}
body.dark .projects {
	background-color: #3e2652;
}
body.dark .projects .box {
	color: #fff;
	background-color: rgba(255, 255, 255, .15);
}
body.dark .footer {
	background-color: #111;
}
/* Desktop */

@media screen and (min-width: 1024px) {

	.navbar-start a.navbar-item.is-active, .navbar-start a.navbar-item:focus, .navbar-start a.navbar-item:focus-within, .navbar-start a.navbar-item:hover {
		background: rgba(0, 0, 0, .50);
		transition: background .5s ease;
		color: #fff;
	}
	.navbar-start .navbar-item {
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;
		transition: border .4s ease;
		color: #fff;
		padding: 20px;
		letter-spacing: 5.5px;
		transform: skewX(-15deg);
		background: rgba(0, 0, 0, .25);
		margin: 1px;
	}
	.navbar-start .navbar-item:first-child {
		margin-left: 100px;
	}
	.navbar-start .navbar-item span {
		transform: skewX(15deg);
	}

	.navbar-start .navbar-item:hover {
		background: transparent;
		border-bottom-color: #ccc;
		border-top-color: #ccc;
		transition: border .8s ease;
	}
	.footer-navigation li {
		display: inline-block;
		margin-left: 10px;
	}
	.footer-navigation li:first-child {
		margin-left: 0;
	}
}