/*Brandon Swan - April 21st, 2022*/

body 
{ 
	background-color: #FFFFFF;
    color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}
header 
{ 
	background-color: #000033;
    color: #FFFFFF; 
	background-image: url(../images/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat; 
	line-height: 400%;
	text-indent: 1em;
}

/* headers */
h1 
{ 
	margin-bottom: 0; 
    font-family: Georgia, 'Times New Roman', serif; 
}

h2 
{ 
	display: none;
	color: #3399CC; 
    font-family: Georgia, 'Times New Roman', serif; 
}
	 
h3 
{ 
	color: #000033;
    font-family: Georgia, 'Times New Roman', serif; 
}

/* Navigation */

nav
{ 
	background-color: #90C7E3;
    font-weight: bold;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


/* Footer */ 

footer 
{ 
	font-size: 75%;
    font-weight: bold;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	background: linear-gradient(white, #90C7E3);
}

/* Responsive images*/

img {
	display: none;
	width: 100%;
}

/* Main Styles*/

main > ul 
{ 
	list-style-image: url(../images/marker.gif);
} 

dt 
{ 
	color: #000033; 
}


.resort 
{ 
	color: #5C7FA3; 
    font-weight: bold;
}



/*************************************************
Tablet Breakpoint - 641px
**************************************************/

@media screen and (min-width: 641px) {

	nav ul {
		display: flex;
	}
	nav ul li {
		margin-right: 15px;
	}
	h2 {
		display: block;
	}
	img {
		display: block;
	}
}

