/*--Brandon Swan - April 22nd, 2022*/

body { 
	background: #F5F5F5 url(../images/yogamobile.png);
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
}

header { 
	background-color: #9BC1C2; 
}

h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

nav { 
     font-weight: bold; 
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
	padding: .5em;
	margin-bottom: .5em;
}

main ul {
	list-style-image: url(../images/yogabullet.png);
	margin-left: 3em;
}

.schedule {
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
	margin-bottom: .5em;
}
.schedule td {
	border: 1px solid black;
	text-align: center;
}

img {
	display: none;
	max-width: 100%;
}

/**************************************
Tablet Styles @@ 641px @@
****************************************/

@media screen and (min-width: 641px) {
	body {
		background-image: none;
	}
	header {
		background-image: url(../images/lilyheader.jpg);
		background-position: right;
		background-repeat: no-repeat;
	}
	img {
		display: block;
	}
	nav ul li {
		display: inline;
		margin-right: 15px;
		
	}
	.float-right {
		float: right;
		margin: 0 0 24px 24px;
	}
}
