.ugly {
	transition: all .75s ease;
}
svg:hover .ugly {
	fill: green;
	transform: scale(.5);
}
.raven {
	transition: all .5s ease;
}
svg:hover .raven {
	fill: purple;
	transform: scale(1.2);
}